*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(black, white);
}

header h3{
    padding: 10px;
}

.img-container{
    display: flex;
    margin: 150px auto 0 auto;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.img-container img{
    width: 150px;
    height: 300px;
    border: 2px solid white;
    border-radius: 5px;
    transition: 300ms;
}

.img-container img:hover{
    width: 400px;
    transform: scale(110%);

}