*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0px 0px 12px #000;
}

body{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

form input{
    width: 90%;
    height: 30px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

#sub{
    color: green;
    font-size: 18px;
    border: 1px solid;
    padding: 0px;
}

#res{
color: red;
font-size: 18px;
border:1px solid;
padding: 0px;
}