@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Inter:wght@300&family=Montserrat:wght@500&family=Open+Sans:wght@300&family=Tilt+Prism&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}

:root {
    --sky-blue: rgb(0, 157, 255);
}

body,
html {
    height: 100%;
    width: 100%;
}

#cursor {
    box-shadow: 0px 0px 60px 30px var(--sky-blue);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#nav {
    height: 120px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: black;
    padding: 0px 20px;
    justify-content: space-between;
    z-index: 9999;
    box-shadow: 0px 0px 10px white;
}

#nav .logo {
    display: flex;
    padding: 20px 40px;
}

#nav img {
    width: 80px;
    height: 70px;
}

#nav .logo-heading h3 {
    color: white;
    font-weight: 400;
    font-weight: bold;
    padding-left: 12px;
    font-size: 1.3rem;
    text-transform: uppercase;
}

#nav .logo-heading h1 {
    color: var(--sky-blue);
    font-weight: 700;
    font-size: 2.2rem;
    font-family: 'Courier New';
    text-transform: uppercase;
    padding: 10px 10px 0px;
}

#nav .navBar {
    display: flex;
    list-style: none;
    padding: 45px 50px;
}

#nav .navBar li {
    padding: 0px 10px;
}

#nav .navBar li a {
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.2rem;
    text-decoration: none;
}

#nav .navBar li a:hover {
    color: var(--sky-blue);
}

#nav .navBar li a:active {
    color: green;
}

/* drive nav=========== */
#nav .navBar li .nav-about {
    margin-top: 10px;
    width: 230px;
    position: absolute;
    z-index: 999;
    display: none;
    transition: .7s all ease-in-out;
    transition-delay: 200ms;
}

#nav .navBar li .nav-about li {
    display: block;
    list-style: none;
    text-decoration: none;
    background: whitesmoke;
    padding: 15px 20px;
}

#nav .navBar li .nav-about li a {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: black;
}

#nav .navBar li .nav-about li:hover {
    background: var(--sky-blue);
}

#nav .navBar li:hover .nav-about {
    display: block;
}

video {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    object-fit: cover;
}

#main {
    position: relative;
    background: rgba(0, 0, 0, 0.186);
}

.page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    line-height: 42px;
}

.page1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    position: relative;
    margin-top: 20%;
}

.page1 h1::before {
    content: "Healthcare Industry in India";
    position: absolute;
    top: -3%;
    left: 0%;
    color: black;
    -webkit-text-stroke: 2px var(--sky-blue);
    z-index: -1;
}

.page1 p {
    color: white;
    font-size: 1.2rem;
    text-shadow: 0px 0px 2px var(--sky-blue);
    margin-top: 1.2rem;
}

#select {
    cursor: pointer;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 12px white;
    width: 500px;
    background: transparent;
    color: white;
    font-size: 1.3rem;
    margin-top: 30px;
}

#select option {
    color: black;
}

.page2 {
    min-height: 100vh;
    width: 100%;

}

/* text scroller part===== */
#scroller {
    /* background: white; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 30s linear infinite;
}

#scroller h4 {
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    font-family: gilroy;
    margin: 40px 2px 0px 0px;
    color: transparent;
    transition: all linear 0.5s;
    -webkit-text-stroke: 1px var(--sky-blue);
}

#scroller h4:hover {
    color: var(--sky-blue);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

#section1 {
    width: 100%;
    height: 90vh;
    display: flex;
    padding: 6% 6% 0%;
    justify-content: space-between;
}

.left {
    width: 500px;
    height: 400px;
    overflow: hidden;
    flex-basis: 35%;
    border-radius: 10px;
}

.left .img-container {
    transition: transform 0.4s ease-in-out;
    display: flex;
    position: relative;
    transform: translateX(-500px);
}

.left img {
    width: 500px;
    height: 400px;
}

.left .img-container .btn {
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    cursor: pointer;
}


/* .btn.prev {
    right: 2%;
}

.btn.next {
    left: 2%;
} */

.right {
    flex-basis: 50%;
    color: white;
}

.right h1 {
    margin-bottom: 8%;
    font-size: 2.3rem;
    font-weight: 900;
}

.title-section {
    display: flex;
}

.title-section .home-link {
    position: relative;
    margin-right: 42px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    cursor: pointer;
}

.home-link::after {
    content: "";
    position: absolute;
    bottom: -13px;
    border-radius: 3px;
    width: 0px;
    left: 0;
    height: 4px;
    transition: 2s linear forward;
    background: var(--sky-blue);
}

.home-link.active::after {
    width: 50%;
}

.content-section {
    /* animation: text-anim 15s linear forwards; */
    max-width: 600px;
    padding-top: 20px;
    height: 600px;
    margin: 20px 0px;

}

.content-link {
    line-height: 1.6rem;
    display: none;
}

.content-link p {
    margin-bottom: 12px;
}

.content-link.active-tab {
    display: block;
}

/* 
@keyframes text-anim {
    0% {
        transform: translate(100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
} */

/* card section == */
.card-container {
    padding: 0% 6%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-container h1 {
    font-family: sans-serif;
    padding-top: 5rem;
    color: white;
    text-shadow: -2px -2px var(--sky-blue);
    font-size: 3rem;
}

.main-card-container {
    padding: 6% 0%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card {
    width: 30%;
    height: 400px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 6px var(--sky-blue);
}

#card1 {
    background: url("https://www.stlgip.com/wp-content/uploads/2020/10/t20_XxEBX3.jpg");
    background-size: cover;
    background-position: center;
}

#card2 {
    background: url("https://thumbs.dreamstime.com/b/medical-check-up-word-paper-tag-stethoscope-black-background-health-concept-conceptual-72792575.jpg");
    background-size: cover;
    background-position: center;
}

#card3 {
    background: url("https://th.bing.com/th/id/OIP.RhOq1_ThXLp-7SN121ck_QHaE8?rs=1&pid=ImgDetMain");
    background-size: cover;
    background-position: center;
}

.overlap {
    width: 100%;
    height: 100%;
    background: var(--sky-blue);
    opacity: 0;
    padding: 20% 40px;
    transition: .5s ease-in;
    border-radius: 20px;
}

.overlap h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: white;
}

.overlap p {
    font-size: 1rem;
    color: black;
}

.overlap a {
    color: white;
    float: left;
    font-weight: 600;
    font-size: 1rem;
    padding-top: 20px;
}

.card:hover {
    transform: scale(104%);
    transition: .3s;
}

.card:hover .overlap {
    opacity: .82;
    overflow: hidden;
}

.card-container-second {
    width: 100%;
    height: 70vh;
    opacity: 0.82;
    background: url("https://th.bing.com/th/id/OIP.gXSTZ-fCkC0PMqTbBKNCxwHaE8?rs=1&pid=ImgDetMain");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.overlap-bg {
    width: 100%;
    height: 100%;
    background: rgb(0 157 255 / 47%);
    display: flex;
    padding: 6%;
    justify-content: space-around;
}

.overlap-bg .card-left {
    padding: 8% 5% 0;
    flex-basis: 30%;
    color: white;
    position: relative;
    text-shadow: 0px 0px 4px var(--sky-blue);
    font-size: 1.4rem;
}

.overlap-bg .card-left::after {
    content: "";
    position: absolute;
    bottom: 28%;
    border-radius: 3px;
    width: 0;
    left: 14%;
    height: 6px;
    background: blue;
}

.overlap-bg:hover .card-left::after {
    width: 50%;
    transition: .6s;
}

.overlap-bg .card-right img {
    width: 162px;
    border: 2px solid black;
    height: 124px;
    margin: 6px;
}

.overlap-bg .card-right {
    flex-basis: 50%;
    padding: 30px 20px;
}


.map {
    padding: 9% 7% 0;
    text-align: center;
}

.map span {
    background: var(--sky-blue);
    padding: 16px 25px;
    font-weight: 600;
    border-radius: 10px;
    font-size: 3rem;
    color: white;
    position: relative;
    z-index: 1;
}

/* footer section =====*/

.footer {
    width: 100%;
    height: 60vh;
    padding: 6%;
    color: white;
    padding-bottom: 23rem;
    display: flex;
}

.footer .left-footer {
    flex-basis: 30%;
    padding: 0% 10%;
}

.left-footer .left-icons {
    display: flex;
    padding-bottom: 20px;
}

.left-icons h1 {
    color: var(--sky-blue);
}

.footer .left-footer img {
    width: 90px;
}

.left-footer p {
    padding-bottom: 12px;
}

.left-footer .icons-footer i {
    width: 35px;
    text-align: center;
    padding: 5px;
    margin: 3px;
    height: 30px;
    border: 2px solid var(--sky-blue);
    border-radius: 50%;
    background: var(--sky-blue);
}

.left-footer .icons-footer i:hover {
    background: transparent;
}

.right-footer {
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
}

.right-footer .col {
    display: flex;
    flex-direction: column;
}

.right-footer .col h3 {
    text-transform: capitalize;
    font-size: 1.6rem;
    padding-bottom: 8px;
    position: relative;
}

.right-footer .col h3::after {
    content: "";
    position: absolute;
    width: 50%;
    bottom: -8%;
    left: 0;
    border-radius: 10px;
    height: 4px;
    background: var(--sky-blue);
}

.right-footer .col a {
    text-transform: capitalize;
    color: white;
    font-size: 1.2rem;
    padding-top: 19px;
    text-decoration: none;

}

.right-footer .col a:hover {
    color: var(--sky-blue);
    transition: .3s;

}

.right-footer .col li {
    list-style: none;
    padding-bottom: 12px;
    padding-top: 19px;
}

.right-footer .col li i {
    color: white;
    padding-right: 11px;

}

.footer-bottom {
    background: gray;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}





/* ========== About file ======= */
.about-bg {
    width: 100%;
    height: 80vh;
    position: relative;
    background: url("https://cdn.website-editor.net/71d39fd6d545437399d1db8ebd64427c/dms3rep/multi/Healthcare+IT.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-main {
    width: 100%;
    height: 80vh;
    background: #00000047;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.about-main h3 {
    padding-top: 70px;
    font-size: 4rem;
    color: white;
}

.about-main p {
    color: white;
    padding-top: 5px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* second section ====== */
.about-section1 {
    background: black;
    color: white;
    width: 100%;
    position: relative;
    display: flex;
    padding: 6%;
}

.about-left {
    flex-basis: 60%;
}

.about-left .left1 {
    text-align: center;
    padding-bottom: 40px;
}

.about-left .left1 h3 {
    color: var(--sky-blue);
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 900;
    padding-bottom: 20px;
}

.about-left .left1 i {
    font-size: 3rem;
    color: var(--sky-blue);
}

.left2 {
    display: flex;
    flex-wrap: wrap;
}

.left2 .box1 {
    text-align: center;
    position: relative;
    width: 280px;
    margin: 12px;
    padding: 5px;
    transition: all ease .4s;
    padding-right: 20px;
}

.left2 .box1:hover {
    box-shadow: 0px 0px 10px var(--sky-blue);
}

.left2 .box1 i {
    font-size: 2rem;
    padding-bottom: 15px;
}

.left2 .box1 h3 {
    font-size: 1.2rem;
    padding-bottom: 8px;
    letter-spacing: 2px;
}


.line {
    background: var(--sky-blue);
    margin-top: 15%;
    width: 4px;
    height: 100px;
    margin: 10px;

}

.about-right {
    flex-basis: 50%;
    padding: 12% 6%;
}

.about-right .right1 {
    border-radius: 15px;
    border: 4px solid var(--sky-blue);
    overflow: hidden;
    width: 380px;
    height: 250px;
}

.about-right .right2 {
    border-radius: 15px;
    border: 4px solid var(--sky-blue);
    margin-top: 20px;
    overflow: hidden;
    width: 380px;
    height: 250px;
}

.about-right img {
    transition: all ease-in .2s;
    box-shadow: 0px 0px 17px var(--sky-blue);
    height: 250px;
    transform: scale(1);
    margin-bottom: 18px;
}

.about-right img:hover {
    transform: scale(1.1);
}

/* counter section= */
.counter_container {
    display: flex;
    padding: 0px 6%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.counter_container div {
    width: 211px;
    height: 212px;
    border-radius: 10px;
    transition: all .7s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
}

.counter_container div i {
    font-size: 2rem;
    padding-bottom: 15px;
    color: var(--sky-blue);
}

.counter_container .counter_number {
    transition: all .2s linear;
    font-weight: 900;
    /* font-size: 2rem; */
}

.counter_container .text {
    font-size: 1.3rem;
}